* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.content-container {
    width: 1000px;
    max-width: 1000px;
    
    /* padding: 0px 24px;  /* Not working */
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


p {
    margin: 8px 0;
}

/* Hero */
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    font-size: 24px;
    color: #f9faf8;
    margin-bottom: 50px;
    font-weight:bolder;
    flex-grow: 0;
 
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.hero .links {
    display: flex;
    gap: 16px;

}

.hero .links a, .info {
    font-size: 18px;
    color: #e5e7eb;
    font-weight:100;
}

.hero .container {
    display: flex;
}

.hero .info {
    margin-right: 16px;
 
}

.hero .container button{
    color:#f9faf8;
    background-color: #3882f6;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
}

.hero img {
    height: 200px;
    width: 600px;
    border: 10px solid gray;
    
}

.hero h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}



/* Information section */

.information {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 36px;
    margin-bottom: 72px;
}

.information h1 {
    margin-bottom: 24px;
}
.images {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.images .image-card {
    flex-basis: 100px;
 
}

.images img{
    border: 5px solid lightgray;
    height: 125px;
    width: auto;
}


/* Quote section */
.quote-section {
    display: flex;
    justify-content: center;
    padding: 100px 0;
    background-color: #e5e7eb;
    
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    font-weight: bold;
    text-align: right;
}